@model List<string>
<h2> Uploaded files</h2>
<table>
    <thead>
    <tr>
        <th>File</th>
        <th>Open</th>
  </tr>
</thead>
<tbody>
    @for(var i=0; i<=Model.Count-1; i++)
    {
        <tr>
            <td>@Model[i].ToString()</td>
          <td><form method="post" action="~/FileData/FileData">
           <input type="submit" value="@Model[i].ToString()" name="altitude"  />
              </form></td>
           
             
        </tr>
    }
</tbody>
</table>
 <a href="/FileData/DownloadFile">Download all data .txt</a>  
